<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>

<div class="auth-page">
  <form
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()"
    class="form-container"
    autocomplete="off"
  >
    <h2>Create Account</h2>

    <!-- NAME -->
    <mat-form-field
      appearance="outline"
      [class.focused-field]="focusedField === 'name'"
    >
      <mat-label>Name</mat-label>
      <input
        matInput
        type="text"
        formControlName="regEmpName"
        (focus)="focusedField = 'name'"
        (blur)="focusedField = 'null'"
      />

      @if (
        registerForm.get('regEmpName')?.invalid &&
        (registerForm.get('regEmpName')?.dirty ||
          registerForm.get('regEmpName')?.touched) &&
        focusedField !== 'name'
      ) {
        <mat-error>
          @if (
            registerForm.get('regEmpName')?.errors?.[
              'required'
            ]
          ) {
            Name is required
          } @else if (
            registerForm.get('regEmpName')?.errors?.[
              'startsWithNumber'
            ]
          ) {
            Name cannot start with a number
          } @else if (
            registerForm.get('regEmpName')?.errors?.[
              'containsNumber'
            ]
          ) {
            Numbers are not allowed
          } @else if (
            registerForm.get('regEmpName')?.errors?.[
              'specialChar'
            ]
          ) {
            Special characters are not allowed
          } @else if (
            registerForm.get('regEmpName')?.errors?.[
              'minlength'
            ]
          ) {
            Name must be at least 3 characters
          }
        </mat-error>
      }
    </mat-form-field>

    <!-- EMPLOYEE CODE -->
    <mat-form-field
      appearance="outline"
      [class.focused-field]="focusedField === 'code'"
    >
      <mat-label>Employee Code</mat-label>
      <input
        matInput
        type="text"
        formControlName="regEmpCode"
        maxlength="10"
        (focus)="focusedField = 'code'"
        (blur)="focusedField = 'null'"
      />

      @if (
        registerForm.get('regEmpCode')?.invalid &&
        (registerForm.get('regEmpCode')?.dirty ||
          registerForm.get('regEmpCode')?.touched) &&
        focusedField !== 'code'
      ) {
        <mat-error>
          @if (regEmpCode?.errors?.['required']) {
            Code is required
          } @else {
            @if (regEmpCode?.errors?.['maxlength']) {
              Maximum 10 characters
            } @else {
              @if (regEmpCode?.errors?.['empCodeInvalid']) {
                Format: letters followed by a number
              } @else {
                @if (
                  regEmpCode?.errors?.['empCodeDuplicate']
                ) {
                  Employee code already exists!
                }
              }
            }
          }
        </mat-error>
      }
    </mat-form-field>

    <!-- EMAIL -->
    <mat-form-field
      appearance="outline"
      [class.focused-field]="focusedField === 'email'"
    >
      <mat-label>Email</mat-label>
      <input
        matInput
        type="text"
        formControlName="regEmpEmail"
        (focus)="focusedField = 'email'"
        (blur)="focusedField = 'null'"
      />

      @if (
        registerForm.get('regEmpEmail')?.invalid &&
        (registerForm.get('regEmpEmail')?.dirty ||
          registerForm.get('regEmpEmail')?.touched) &&
        focusedField !== 'email'
      ) {
        <mat-error>
          @if (regEmpEmail?.errors?.['required']) {
            Email is required
          } @else {
            @if (regEmpEmail?.errors?.['empEmailInvalid']) {
              Enter a valid email (ex.abc123@gmail.com)
            } @else {
              @if (
                regEmpEmail?.errors?.['empEmailDuplicate']
              ) {
                Email already exists
              }
            }
          }
        </mat-error>
      }
    </mat-form-field>

    <!-- PHONE -->
    <mat-form-field
      appearance="outline"
      [class.focused-field]="focusedField === 'phone'"
    >
      <mat-label>Phone No</mat-label>
      <input
        matInput
        type="tel"
        #phoneInput
        formControlName="regEmpPhone"
        maxlength="10"
        inputmode="numeric"
        (input)="onlyNumbers($event)"
        (focus)="focusedField = 'phone'"
        (blur)="focusedField = 'null'"
      />
      @if (
        registerForm.get('regEmpPhone')?.invalid &&
        (registerForm.get('regEmpPhone')?.dirty ||
          registerForm.get('regEmpPhone')?.touched) &&
        focusedField !== 'phone'
      ) {
        <mat-error>
          @if (regEmpPhone?.errors?.['required']) {
            Phone is required
          } @else {
            @if (regEmpPhone?.errors?.['pattern']) {
              Only numbers allowed
            } @else {
              @if (regEmpPhone?.errors?.['minlength']) {
                Must be 10 digits
              } @else {
                @if (
                  regEmpPhone?.errors?.['empPhoneDuplicate']
                ) {
                  Phone already exists
                }
              }
            }
          }
        </mat-error>
      }
    </mat-form-field>

    <!-- PASSWORD -->

    <mat-form-field
      appearance="outline"
      [class.focused-field]="focusedField === 'password'"
    >
      <mat-label>Password</mat-label>
      <input
        matInput
        [type]="hidePassword ? 'password' : 'text'"
        #passwordInput
        formControlName="regEmpPassword"
        minlength="8"
        maxlength="15"
        (focus)="focusedField = 'password'"
        (blur)="focusedField = 'null'"
      />
      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="hidePassword = !hidePassword"
        class="eye-btn"
      >
        <mat-icon>{{
          hidePassword ? 'visibility_off' : 'visibility'
        }}</mat-icon>
      </button>

      @if (
        registerForm.get('regEmpPassword')?.invalid &&
        (registerForm.get('regEmpPassword')?.dirty ||
          registerForm.get('regEmpPassword')?.touched) &&
        focusedField !== 'password'
      ) {
        <mat-error>
          @if (regEmpPassword?.errors?.['required']) {
            Password is required
          } @else {
            @if (regEmpPassword?.errors?.['minlength']) {
              Minimum 8 characters
            } @else if (
              regEmpPassword?.errors?.['noUppercase']
            ) {
              Must contain at least one uppercase letter
            } @else if (
              regEmpPassword?.errors?.['noLowercase']
            ) {
              Must contain at least one lowercase letter
            } @else if (
              regEmpPassword?.errors?.['noNumber']
            ) {
              Must contain at least one number
            } @else if (
              regEmpPassword?.errors?.['noSpecialChar']
            ) {
              at least one special character need
            }
          }
        </mat-error>
      }
    </mat-form-field>

    <!-- CONFIRM PASSWORD -->
    <mat-form-field
      appearance="outline"
      [class.focused-field]="
        focusedField === 'confirm-password'
      "
    >
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        [type]="hideConfirmPassword ? 'password' : 'text'"
        #confirmPasswordInput
        minlength="8"
        maxlength="15"
        formControlName="regConfirmPassword"
        appBlockCopyPaste
        (focus)="focusedField = 'confirm-password'"
        (blur)="focusedField = 'null'"
      />
      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="hideConfirmPassword = !hideConfirmPassword"
        class="eye-btn"
      >
        <mat-icon>{{
          hideConfirmPassword
            ? 'visibility_off'
            : 'visibility'
        }}</mat-icon>
      </button>

      @if (
        (regConfirmPassword?.dirty ||
          registerForm?.touched) &&
        focusedField !== 'confirm-password' &&
        regConfirmPassword?.invalid
      ) {
        <mat-error>
          @if (regConfirmPassword?.errors?.['required']) {
            Confirm password is required
          } @else {
            @if (
              regConfirmPassword?.errors?.[
                'passwordMismatch'
              ]
            ) {
              Password do not match
            }
          }
        </mat-error>
      }
    </mat-form-field>

    <div class="button-group double">
      <button
        mat-raised-button
        color="primary"
        type="submit"
      >
        Sign Up
      </button>
      <button
        mat-raised-button
        color="warn"
        type="button"
        (click)="reset()"
      >
        Reset
      </button>
    </div>
  </form>
</div>
<div class="auth-footer">
  <span>Already User?</span>

  <a type="button" routerLink="/login"> Login here </a>
</div>
