// @import '@angular/material/prebuilt-themes/indigo-pink.css';

@import './styles/theme';
@import './styles/layout';
@import './styles/forms';
@import './styles/tables';
@import './styles/buttons';
@import './styles/headerSection';

@import './styles/icons';
